.grid-hmf {
  display:grid;
  visibility: hidden;
  visibility: hidden;
}

html, body {
  min-height: 100vh;
}

.hidden {
  visibility: hidden;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

